{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="static/css/openQue.css">{% endblock css %}

{% block title %}Forum{% endblock title %}
{% block forumActive %}active{% endblock forumActive %}

{% block body %}

<!-- Search and other options -->
<div class="extendedNavbar">
    <!-- If user is authenticated only then show this menu -->
    {% if user.is_authenticated %}
    <div class="forumMenu" id="forumMenuHamburger">☰</div>
    <div class="forumMenuContents" id="forumMenuContents">
        <div class="menuItems">
            <li><a href="/askQuestion">Ask Questions</a></li>
            <hr>
            <li><a href="/previouslyAsked">Previously Asked Questions</a></li>
            <hr>
            <li><a href="/previouslyAnswered">Previously Answered Questions</a></li>
            <hr>
        </div>
    </div>
    {% endif %}

    <!-- Search bar -->
    <div class="forumSearchBar">
        <form action="/search" method="POST">
            {% csrf_token %}
            <input type="text" name='query' placeholder="Enter text to search something">
            <div class="forumSearchIcon">
                <button type="submit"><img src="/static/images/searchIcon.png" alt="search icon"></button>
            </div>
        </form>
    </div>
</div>

{% load splitTag %}
{% load humanize %}
<div class="forumBody">

    <!-- Left Container -->
    <div class="leftContainer">
        <!-- Question -->
        <div class="QAContainer">
            <div class="question">
                <div class="queBox">{{question.questionShortDesc}}</div>
                <div class="problemDefinition">
                    {{question.questionLongDesc|safe}}
                </div>
                <div class="extraBox">
                    <div class="answersBox">{{question.noOfAnswers}} Answers</div>
                    <div class="timeBox">Asked {{question.askedOn|naturaltime}}</div>
                    <div class="userBox">
                        <small>Asked by</small>
                        <img src="/static/images/user.png" alt="user image">
                        <p class="userName">{{question.askedBy}}</p>
                    </div>
                </div>
                <div class="relatedTagsBox">
                    {% for tag in question.tags|split:"," %}
                    <div class="tag">{{tag}}</div>
                    {% endfor %}
                </div>
                <div class="answerQue">
                    {% if user.is_authenticated %}
                    <form action="/postAnswer" method="POST">

                        {% if question.noOfAnswers == 0 %}
                        <h2>Be the first to answer this question</h2>
                        {% else %}
                        <h2>Answer this question</h2>
                        {% endif %}

                        {% csrf_token %}
                        <input type="hidden" name="queSno" value="{{question.queSno}}">
                        <input type="hidden" name="currentUser" value="{{request.user}}">
                        <textarea id="basic-conf" name="answerText">
                                Write your answer here
                            </textarea>
                        <button type="submit" class="btn replyBtn answerBtn">Post answer</button>
                    </form>

                    {% else %}
                    <h2>Signup to ask questions. If you already have an account Login to get started.</h2>

                    {% endif %}

                </div>
                <hr>
            </div>

        </div>

        <!-- Answer -->
        <div class="QAContainer">
            <h2>Answers</h2>
            {% for answer in allAnswers %}
            <div class="answer">
                <div class="solution">
                    {{answer.answerDesc|safe}}
                </div>
                <div class="extraBox">
                    <div class="timeBox">Answered {{answer.answeredOn|naturaltime}}</div>
                    <div class="userBox">
                        <small>Answered by</small>
                        <img src="/static/images/user.png" alt="user image">
                        <p class="userName">{{answer.answeredBy}}</p>
                    </div>
                </div>
                <div class="replyBox">
                    {% if user.is_authenticated %}
                    <form action="/postReply" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="repliedBy" value="{{request.user}}">
                        <input type="hidden" name="replyOfAns" value="{{answer.answerSno}}">
                        <input type="hidden" name="queSno" value="{{answer.answerOfQue}}">

                        <input type="text" name="replyDesc" placeholder="Reply">
                        <button type="submit" class="btn replyBtn">Reply</button>
                    </form>

                    {% else %}
                    <h2>Login to post comments</h2>

                    {% endif %}
                </div>
                <div class="replies">
                    <ul>
                        {% for reply in replies %}
                        {% if reply.replyOfAns == answer.answerSno %}
                        <li><span>{{reply.repliedBy}} replied</span>
                            {{reply.replyDesc}}<span>{{reply.repliedOn|naturaltime}}</span></li>
                        <hr>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <hr>
            </div>
            {% endfor %}

        </div>
    </div>

    <!-- Right Container -->
    <div class="rightContainer">
        <!-- Related  questions -->
        <div class="relatedQuestions">
            <h2>Related Questions</h2>
            <hr>
            {% for relatedQuestion in relatedQuestions %}
            <div class="question">
                <a href="/{{relatedQuestion.queSno}}">
                    <div class="queBox">{{relatedQuestion.questionShortDesc}}</div>
                    <div class="relatedTagsBox">
                        {% for tag in relatedQuestion.tags|split:"," %}
                        <div class="tag">{{tag}}</div>
                        {% endfor %}
                    </div>
                </a>
                <hr>
            </div>
            {% endfor %}

        </div>
    </div>

</div>


{% endblock body %}

{% block js %}
<!-- Set input field width according to the width of placeholder -->
var input = document.querySelectorAll('input');

if(input!=null){
for(i=0; i<input.length; i++){ if(input[i].getAttribute('placeholder')!=null){
    input[i].setAttribute('size',input[i].getAttribute('placeholder').length); } } }

<!-- Hamburger menu -->

forumMenuHamburger=document.getElementById('forumMenuHamburger')
forumMenuContents=document.getElementById('forumMenuContents') forumMenuHamburger.addEventListener('click', ()=>{
forumMenuContents.classList.toggle('display')
})

{% endblock js %}