{% extends 'base.html' %}

{% block css %}<link rel="stylesheet" href="static/css/search.css" />{% endblock css %}

{% block title %}Forum{% endblock title %}

{% block forumActive %}active{% endblock forumActive %}

{% block body %}

{% load splitTag %}
{% load humanize %}

<div class="searchContainer">
  <h2>Search results({{searchResults.count}}) for query "{{query}}"</h2>

  {% if searchResults.count > 0 %}
  <div class="questionsContainer">
    {% for searchResult in searchResults %}
    <div class="question">
      <a href="/{{searchResult.queSno}}">
        <div class="queBox">{{searchResult.questionShortDesc}}</div>
        <div class="extraBox">
          <div class="votesBox">{{searchResult.views}} Views</div>
          <div class="answersBox">{{searchResult.noOfAnswers}} Answers</div>
          <div class="timeBox">Asked on {{searchResult.askedOn|timesince}}</div>
          <div class="userBox">
            <small>Asked by</small>
            <img src="/static/images/user.png" alt="user image" />
            <p class="userName">{{searchResult.askedBy}}</p>
          </div>
        </div>
        <div class="relatedTagsBox">
          {% for tag in searchResult.tags|split:"," %}
          <div class="tag">{{tag}}</div>
          {% endfor %}
        </div>
      </a>
    </div>
    <hr>
    {% endfor %}
  </div>
  
  
  {% else %}
  <div class="noResultsContainer">
    <h2>No results found for "{{query}}"</h2>
    <ul class="suggestions">
        <li>Make sure you have entered the correct spelling.</li>
        <li>Try searching with another keywords.</li>
        <li>May be the topic you are searching for is not available on our site.</li>
    </ul>
</div>

  {% endif %}
  
</div>

{% endblock body %}
